# Python Virtual Environment
venv/
*.venv/
env/
ENV/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configuration files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Add any other files/folders to ignore if necessary
# If your .sav files are very large (>100MB), see note below about Git LFS
# and you might add *.sav here AFTER setting up LFS.